<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.business.tier.dao.VipUserDao">

    <!-- 查询结果列 -->
    <sql id="base_columns">
        t_user_vip.id,
        t_user_vip.user_id,
        t_user_vip.vip_level,
        t_user_vip.start_time,
        t_user_vip.end_time,
        t_user_vip.status,
        t_user_vip.create_time,
        t_user_vip.update_time
    </sql>

    <!-- 分页查询 -->
    <select id="queryPage" resultType="net.lab1024.sa.admin.module.business.tier.domain.vo.MemberUserVO">
        SELECT
        <include refid="base_columns"/>
        FROM t_vip_user
    </select>


</mapper>
